@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: theme("backgroundColor.neutral.offWhite");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.card {
  background-color: theme("colors.neutral.white");
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 25%;
  padding: 40px 20px;
}

.errorText {
  color: theme("colors.primary.lred");
}

.errorBorder {
  outline-color: theme("colors.primary.lred");
}

@property --year {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --month {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --day {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

/** I should probably generalized these classes **/
.odometerYear {
  transition: --year 0.5s;
  counter-set: year var(--year);
}

.odometerMonth {
  transition: --month 0.5s;
  counter-set: month var(--month);
}

.odometerDay {
  transition: --day 0.5s;
  counter-set: day var(--day);
}

.odometerYear::after {
  content: counter(year);
}

.odometerMonth::after {
  content: counter(month);
}

.odometerDay::after {
  content: counter(day);
}
