@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: theme("backgroundColor.neutral.offWhite");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.card {
  background-color: theme("colors.neutral.white");
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 25%;
  padding: 40px 20px;
}
